<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <h1> Coming Soon </h1>

    <section class='grid'>
  
      <div>
      
        <p> Manuel Sanchez </p>
        <img src= "https://i.postimg.cc/Znpm4vKD/UCSDpic.jpg" style= "width:500px">
      </div>
    
  
    </section>

  </body>
</html>